<%- include ../partials/header.ejs %>
<div class="container">
    <center>
        <h1>
            <%=data.subjectName%>
        </h1>
        <a href="/subjects">return to subject list</a>
    </center>
</div>
<%- include ../partials/footer.ejs %>